<%- include("../partials/header") %>

<h1>Cart page</h1>
<% user.cart.forEach(item => { %>
<form class="cart-item" action="/cart/removeCartItem" method="post">
  <img
    class="product-image"
    src="
      https://source.unsplash.com/random/?city,night"
    alt="image"
  />
  <div class="product-info">
    <h1><%= item.productName %></h1>
    <p><%= item.productDescription %></p>
  </div>
  <span class="product-price"> <small>₹</small><%= item.productPrice %> </span>
  <button name="submitButton" value=<%= item.id %>>Remove Item</button>
</form>
<% }) %>
 
<div class="subTotal">
  <p>Your total is: ₹<%= subTotal %>
  <button class="checkout-button">Checkout</button></p>
</div>

<%- include("../partials/footer") %>
