<%- include("../partials/header") %>

<div class="carousel"></div>
<div class="products">
  <% foundProducts.forEach(product => {%>
  <form action="/cart" method="post" class="product">
    <img
      class="product-image"
      src="
      https://source.unsplash.com/random/?city,night"
      alt="image"
    />
    <p>
      <b>
        <span class="product-name"> <%= product.productName %> </span>
        <span class="product-price">
          <small>₹</small><%= product.productPrice %>
        </span>
      </b>
    </p>
    <button
      type="submit"
      name="submitButton"
      class="add-cart-button"
      value="<%= product._id %>"
    >
      Add to cart
    </button>
  </form>
  <% }) %>
</div>

<%- include("../partials/footer") %>
